@-webkit-keyframes fade-out {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
    color: rgb(209, 14, 14);
  }

  50% {
    color: rgba(128, 255, 128, 0.8);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
    color: rgb(209, 14, 14);
  }

  50% {
    color: rgba(128, 255, 128, 0.8);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: fade-out 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.power_button {
  color: #fff;
  height: 200px;
  width: 200px;
  transition: color ease-in-out 300ms;
}

.power_button:hover {
  cursor: pointer;
  color: rgb(209, 14, 14);
}

@media screen and (max-width: 205px) {
  .power_button {
    max-height: 100px;
    max-width: 100px;
  }
}